<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SiteForum</display-name>
	<servlet>
	    <servlet-name>ArchivesServlet</servlet-name>
	    <servlet-class>fr.fastandforum.servlets.ArchivesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArchivesServlet</servlet-name>
    	<url-pattern>/pages/archives.html</url-pattern>
	</servlet-mapping>
	<listener>
    	<listener-class>fr.fastandforum.main.Main</listener-class>
	</listener>

</web-app>